body {
  margin: 0;
  height: 100vh;
}


.container {
  width: 60%;
  margin: 60px auto;
  background-color: #03A9F4;
  box-shadow: 20px 20px 20px #cfcfcf;
  -webkit-transition: width 2s cubic-bezier(0.48, -0.8, 0.44, 1.7);
  -moz-transition: width 2s cubic-bezier(0.48, -0.8, 0.44, 1.7);
  -ms-transition: width 2s cubic-bezier(0.48, -0.8, 0.44, 1.7);
  -o-transition: width 2s cubic-bezier(0.48, -0.8, 0.44, 1.7);
  transition: width 2s cubic-bezier(0.48, -0.8, 0.44, 1.7); /* Petite transition simple autour du bloc div conatainer */
}
.container:hover {
  width: 40%;
}

main {
  height: 100%;
}

p {
  margin: 0;
  padding: 18px;  
  background-color: chartreuse;
}

p.font-effect-shadow-multiple {
  color: deeppink;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

p + p {
  background-color: yellow;
  color: darkslategray;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 500;
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  background: #0FA;
}

.citation {
  width: 100vw;
  display: table-cell; /* Méthode utilisée pour faire un centrage vertical de la citation */
  vertical-align: middle;
  background-color: #03A9F4;
  font-family: 'Dancing Script', cursive;
  font-size: 2.65em;
  font-weight: bold;
}

q {
  text-align: center;
  color: #FFF;
  display: block;
  padding: 20px;
}
/* Changement des guillemets de la balise q */
q::before {
  content: "«";
}
q::after {
  content: "»";
}
