body {
  margin: 0;
  height: 100vh;
}

.container {
  width: 60%;
  height: 520px;
  margin: 60px auto;
  background-color: #03A9F4;
  box-shadow: 20px 20px 20px #cfcfcf;
}

main {
  height: 100%;
}

p {
  margin: 0;
  padding: 30px;  
  background-color: chartreuse;
}

p.font-effect-shadow-multiple {
  color: deeppink;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

p + p {
  background-color: yellow;
  color: darkslategray;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.citation {
  width: 100vw;
  height: 45vh;
  display: table-cell;
  vertical-align: middle;
  background-color: #03A9F4;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  font-weight: bold;
}

q {
  text-align: center;
  color: #FFF;
  display: block;
  padding: 20px;
}
q::before {
  content: "«";
}
q::after {
  content: "»";
}
